<% if(success && success.length) { %>
    <section style="display: flex; justify-content: center; align-items: center;"  id="show"> 
   <div style="width: 600px; text-align: center; justify-content: center;" class="alert-success">
     <div><%= success %></div>
     <button style="margin-left: auto;" class="close">×</button>
   </div>
   
   </section>  
   <% } %>
   
   <% if(error && error.length) { %>
     <section style="display: flex; justify-content: center; align-items: center;"  id="show"> 
    <div style="width: 600px; text-align: center; justify-content: center;"  class="alert-error">
      <div><%= error %></div>
      <button style="margin-left: auto;"  class="close">×</button>
    </div>
    </section>  
    <% } %>
   
   <script>
     const successMsg = document.querySelector("#show");
     const close = document.querySelector(".close");
     successMsg.style.display = "flex";
   
     close.addEventListener("click", () => {
       successMsg.style.display = "none";
     });
   
      setTimeout(()=>{
           successMsg.style.display='none';
       },2000);
   </script>
   