
<footer class="containerAll">
    <p>&copy; 2023 Yelp-Camp CNINNMAKESDEV</p>
</footer>
</div>
    <div style="display: none;"  class="loading">
        <div class="hero-text load-img" style="margin-left: 40px;">
            <h1 style="top:50%; left: 50%; transform: translate(-50% -50%);  ">FİNDCAMP</h1>
           
          
        </div>
        <h2 style="opacity: 0.6;">SAYFA YÜKLENİYOR</h2>
    </div>





<script src="/app.js"></script>

</body>
</html>