<%- include('partials/header') %> <%- include('partials/navbar') %>
<div class="container-panel">

    <h1 style="color: whitesmoke; margin-bottom: 1rem;">HOŞGELDİNİZ CNINNMAKES!</h1>
<div class="admin-panel">

  
    <div class="add">
        
        <a class="not-link" href="/campgrounds/new"><i class="fa-solid fa-plus"></i>Add a new campground</a>
     
    </div>
    <div class="add">
        <a href="/campgrounds/secret/admin?password=cninnmakes" >VERİLERİ SIFIRLA</a>
    </div>
</div>
</div>
   

<%- include('partials/footer') %>
