
<%- include('partials/header') %>

<%- include('partials/navbar') %>


<div class="hero-con">


    <div class="img-con">
        <img src="https://images.unsplash.com/photo-1487730116645-74489c95b41b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'" alt="home">
        <div class="overlay"></div>
    
        
    </div>

    <div class="hero-text">
        <h1>FİNDCAMP</h1>
        <h2>NEED YOU SİLENCE ?</h2>
        <p>You deserve it</p>
    </div>


</div>

<%- include('partials/footer') %>


