<%- include('partials/header') %> <%- include('partials/navbar') %>

<div class="all-camps">
  <h1 >
    New Campground
    <a style="color: white;" class="back" href="/"><i class="fa-solid fa-left-long"></i> Home</a>
  </h1>
</div>
<div class="container">
  
  <form id="myForm" action="/campgrounds" method="POST" enctype="multipart/form-data">
   
    <div class="form-sec-left">
      <input
      class="inputs"
      type="text"
      name="campground[title]"
      placeholder="Enter a title"
    />

    <input
      class="inputs"
      type="text"
      name="campground[location]"
      placeholder="Enter a location"
    />
    <textarea
      class="inputs"
      name="campground[description]"
      placeholder="Enter a description"
    ></textarea>
    </div>
    <div class="form-sec-right">

    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">$Price</span>
      <input name="campground[price]" type="text" class="form-control" placeholder="Price" aria-label="Username" aria-describedby="addon-wrapping">
    </div>

    <div  class="mb-3">
      <label for="formFileMultiple" class="form-label">Choose images</label>
      <input class="form-control" type="file" id="formFileMultiple" multiple name="image">
    </div>

    <button class="btn" type="submit">Add</button>
    </div>


  </form>

  <script src="/js/formvalid.js"></script>
</div>

<%- include('partials/footer') %>
