<%- include('partials/header') %> <%- include('partials/navbar') %>

<section class="all-camps">
    <h1>I am sad. We couldn't find such a page.  <a class="back" href="/"><i class="fa-solid fa-left-long"></i> Home</a></h1>
   
</section>

<%- include('partials/footer') %>
