
<%- include('partials/header') %> 
<%- include('partials/navbar') %> 
 <div class="auth-container">
    <h2 class="main-title">
      SIGNIN <img class="rok" src="/assets/keyuser.png" alt="..." />
    </h2>
    <div style="max-height: 500px; zoom:0.9" class="log">
        <form  action="/users/register" method="POST">
            <label for="username">
                username
            </label>
            <input type="text" id="username" name="username" placeholder="username">
            <label for="email">
                email
            </label>
            <input type="email" id="email" name="email" placeholder="email">
            <label for="password">
                password
            </label>
            <input type="text" id="password" name="password" placeholder="password">
            <button type="submit" class="main-link" href="#">
                <img class="rok" src="/assets/pass.png" alt="..." />
                REGİSTER
              </button>
              <a href="#" class="link" style="text-decoration: underline; color: rgba(255, 255, 255, 0.458); font-weight: normal; align-self: flex-end; padding-top: 20px; font-size: 16px; ">Do you already have an account ?</a>
              <a style="margin-left: auto;" class="link" href="/users/login">LOGIN</a>
        </form>
  
    </div>
</div>
<%- include('partials/footer') %> 

  
